h3{
  text-align:center;
}

table,th,td{
   border:1px solid grey;
   border-collapse:collapse;;
   text-align:center;
   padding:2px;
   font-family:serif;
   margin-left:auto;
   margin-right:auto;
}

th{
  background-color:lightgrey;
  padding:20px;
}
